<div class="viewtodocenter">
    <table class="table table-striped">
      <tr *ngFor="let todo of todoList">
        <td>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="{{todo.completed}}" (change)="updateTodo()" name="todo" [(ngModel)]="todo.completed" [checked]="todo.completed"/>
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
              </label>
            </div>
        </td>
        <td [ngClass]="{'todo-line-through': todo.completed}">{{todo.title}}</td>
        <td><img src="../../assets/close.png" class="closebutton" (click)="deleteTodo(todo.id)"/></td>
      </tr>
    </table>
    <form>
      <input type="text" class="textwidth" [(ngModel)]="newtodotitle" name="newtodotitle">
      <button type="button" (click)="addTodo()">Add To Do</button>
    </form>
</div>
