.viewtodocenter {
    width:400px;
    height:600px;
    margin: auto;
} 

table{
    overflow-y:scroll;
    height:500px;
    display:block;
 }

 .todo-line-through{
    text-decoration: line-through;
 }
 