.viewtodocenter {
    width:400px;
    height:600px;
    margin: auto;
} 

table{
    overflow-y:scroll;
    height:500px;
    display:block;
 }

 .todo-line-through{
    text-decoration: line-through;
 }
 
 .closebutton {
    width: 25px;
    height: 25px;
    cursor: pointer
 }

 .checkbox label:after{
     content: '';
     display: table;
     clear: both;
 }
 
 .checkbox .cr{
     position: relative;
     display: inline-block;
     border: 1px solid #a9a9a9;
     border-radius: .25em;
     width: 1.3em;
     height: 1.3em;
     float: left;
     margin-right: .5em;
 }
 
 .checkbox .cr .cr-icon{
     position: absolute;
     font-size: .8em;
     line-height: 0;
     top: 50%;
     left: 20%;
 }
 
 .checkbox label input[type="checkbox"]{
     display: none;
 }
 
 .checkbox label input[type="checkbox"] + .cr > .cr-icon{
     transform: scale(3) rotateZ(-20deg);
     opacity: 0;
     transition: all .3s ease-in;
 }
 
 .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon{
     transform: scale(1) rotateZ(0deg);
     opacity: 1;
 }
 
 .textwidth{
     width: 306px;
 }